/*

Legend:

  .viewport-only-small    : max-width 520px;
  .viewport-medium        : min-width 520px;
  .viewport-medium-large  : min-width 768px;
  .viewport-large         : min-width 1000px;
  .viewport-very-large    : min-width 1400px;
  .viewport-only-medium   : min-width 520px max-width 1000px;
  .viewport-only-large    : min-width 1000px max-width 1000px;

*/
/* line 17, ../scss/_reset.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* line 31, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 40, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 48, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 56, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* line 71, ../scss/_reset.scss */
a {
  display: block;
  text-decoration: none;
}
/* line 77, ../scss/_reset.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 118, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* line 127, ../scss/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 137, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 148, ../scss/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 156, ../scss/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 165, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 174, ../scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 182, ../scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 190, ../scss/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 197, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 201, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 217, ../scss/_reset.scss */
label {
  cursor: pointer;
}

/* line 229, ../scss/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 243, ../scss/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 254, ../scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 269, ../scss/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 280, ../scss/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 289, ../scss/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 301, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 315, ../scss/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 323, ../scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 332, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 343, ../scss/_reset.scss */
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 357, ../scss/_reset.scss */
ul,
menu {
  margin: 0;
  padding: 0;
}

/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns */
/* append n blank columns */
/* line 21, ../scss/_extends.scss */
[data-icon]:before {
  content: attr(data-icon);
  font-family: 'showcase';
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: .5em;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 33, ../scss/_extends.scss */
[data-iconafter]:after {
  content: attr(data-iconafter);
  font-family: 'showcase';
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: .5em;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes fadeInUp {
  /* line 66, ../scss/_extends.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 71, ../scss/_extends.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 78, ../scss/_extends.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  /* line 83, ../scss/_extends.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 90, ../scss/_extends.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  /* line 95, ../scss/_extends.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 102, ../scss/_extends.scss */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 107, ../scss/_extends.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 15, ../scss/layouts/_app.scss */
.container {
  background-color: skyBlue;
  min-height: 200px;
  margin: 10% auto;
  width: 40%;
}

/* line 15, ../scss/modules/utility-nav/_module_utilityNav.scss */
.utility-nav {
  position: absolute;
  right: 2%;
  top: 2%;
}

/* line 16, ../scss/_dev.scss */
.viewport-only-small {
  border-top: 6px solid red;
}

/* line 20, ../scss/_dev.scss */
.viewport-medium {
  border-top: 6px solid yellow;
}

/* line 24, ../scss/_dev.scss */
.viewport-only-medium {
  border-top: 6px solid #bada55;
}

/* line 28, ../scss/_dev.scss */
.viewport-large {
  border-top: 6px solid green;
}

/* line 32, ../scss/_dev.scss */
.viewport-very-large {
  border-top: 6px solid blue;
}

/* line 19, ../scss/_fallbacks.scss */
.no-cssgradients #mydx-container .ui-slider-handle {
  top: -4px;
}

/* line 31, ../scss/_fallbacks.scss */
.no-csstransforms3d #mydx-container .listing__thumbnails {
  margin-left: 0;
  width: 100%;
}
/* line 38, ../scss/_fallbacks.scss */
.no-csstransforms3d #mydx-container .listing__thumbnails-item {
  margin-top: 12px;
  width: 19.1%;
}
/* line 42, ../scss/_fallbacks.scss */
.no-csstransforms3d #mydx-container .listing__thumbnails-item:nth-of-type(5n+1) {
  margin-left: 0;
}
/* line 48, ../scss/_fallbacks.scss */
.no-csstransforms3d #mydx-container .listing__thumbnails-item:focus .listing__thumb, .no-csstransforms3d #mydx-container .listing__thumbnails-item:hover .listing__thumb {
  box-shadow: 0 0 0 1px #cccccc;
}
