<div class="wrapper" data-ng-model="user">


  <section class="user">

    <img class="user__image" src="{{ user.avatar_url }}" alt="{{ user.name }}" />

    <h1 class="user__name">
      <a class="user__name-link" href="{{ user.blog }}">{{ user.name }}</a>
    </h1>

    <a class="user__github"
      href="{{ user.html_url }}"
      title="View {{ user.name }}'s Github profile">@{{ user.login }}</a>

    <!--<p style="white-space: wrap;">{{ user }}</p>-->
  </section>

  <article>
    <h1>Latest Commit</h1>
    <p>{{ user.last_push }}</p>
  </article>


  <section class="counts">
    <div>Public Repos: {{ user.public_repos }}</div>
    <div>Public Gists: {{ user.public_gists }}</div>
    <div>Following: {{ user.following }}</div>
    <div>Followers: {{ user.followers }}</div>
    <div>Organizations: {{ user.organizations }}</div>
    <div>Starred: {{ user.starred_repos }}</div>
  </section>

</div>
