<div class="wrapper" data-ng-model="user">


  <section class="user">

    <img class="user__image" src="{{ user.avatar_url }}" alt="{{ user.name }}" />

    <h1 class="user__name">
      <a class="user__name-link" href="{{ user.blog }}">{{ user.name }}</a>
    </h1>

    <!--<h2>{{ user.company }}</h2>-->

    <p class="user__bio">
      {{ user.bio }}

      <small>Github member since {{ user.created_at | date:'longDate'}}.</small>
    </p>


    <dl class="user__quick-stats">
      <dt>Public Repos</dt>
      <dd>{{ user.public_repos }}</dd>

      <dt>Followers</dt>
      <dd>{{ user.followers }}</dd>

      <dt>Following</dt>
      <dd>{{ user.following }}</dd>

      <dt>Public Gists</dt>
      <dd>{{ user.public_gists }}</dd>
    </dl>

    <!--<p style="white-space: wrap;">{{ user }}</p>-->
  </section>


  <section class="external-user">
    <input type='text' ng-model='typedName' placeholder="Type a Github username..." />
    <button type='button' ng-click='loadData()'>Load {{ typedName }}'s data</button>

    <h1>{{ externalUser.name }}!</h1>
    <h2> {{ externalUser.email }}</h2>

    <pre>
      <code class="js-inject">
        Repos: {{ externalUser.public_repos }},
        Followers: {{ externalUser.followers }},
        Following: {{ externalUser.following }}
      </code>
    </pre>
  </section>




</div>
