//
//
//
// $DASHBOARD
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the dashboard page
// @end


.counts {
  margin-top: 2em;
}













.fade-in {
  opacity: 0;
  transition: all 2s;
}

.fade-in.fade-in-active {
  opacity: 1;
}

.fade-out {
  border: 6px solid green;
  @include customTransition();
}

.fade-out-active {
  border: 6px solid pink;
}
