//
//
//
// $DASHBOARD
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the dashboard page
// @end


// <section> container for teh external user's information
.external-user {
  @include col(2);
  @include last();
  background-color: rgba(green,0.2);
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .6em;
}
