//
//
//
// $APP
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Layout styles for the main app.
// @end



.container {
  background-color: skyBlue;
  min-height: 200px;
  margin: 10% auto;
  width: 40%;
}

