//
//
//
// $UTILITY_NAV
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the utility navigation.
// @end


// <nav> global navigation
.utility-nav {
  position: absolute;
  right: 2%;
  top: 2%;
}

.utility-nav__link {
  display: inline-block;
  @include rem('padding',12px);
  text-decoration: underline;
}
